.banner {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 80px);
  overflow: hidden;
  background-color: #000;
}
.bannerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
