html {
  overflow: "hidden" !important;
}
.white_text {
  color: rgba(255, 255, 255, 0.9);
}
.link_style {
  text-decoration: none;
}
.cursor_pointer {
  cursor: pointer !important;
}
.grow {
  transition: all 0.5s ease;
}
.grow:hover {
  transform: scale(1.1);
}

.para {
  font-size: 13px;
  line-height: 2;
  white-space: pre-wrap;
}